name: Build

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true

jobs:
  build-linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Fetch tags
        run: git fetch --prune --unshallow --tags

      - name: Make build directory
        run: mkdir ./build

      - name: Update version header
        run: |
          sed -i 's/"version": "0.0.0-dev"/"version": "${{ inputs.version }}"/' ./plugin-metadata.json

      - name: Build and run Docker image
        run: |
          docker build . --file Dockerfile --tag cs2surf-linux-builder
          docker run -v ./build:/app/build -v ./.git:/app/.git cs2surf-linux-builder

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: cs2surf-linux
          path: ./build/package
